<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" expand="clear" (click)="this.back()" >Back</ion-button>
    </ion-buttons>

  <ion-title>room: {{this.getroomname}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card lines="none" *ngFor="let item of list"  color="transparent" >
    <ion-card-content>
        <ion-list>
          <ion-item>
        <ion-avatar slot="start">
        <img src={{item.img}}>
      </ion-avatar>
        <ion-label  align="center">
        <h4>{{item.from}}</h4>
        <h1>{{item.text}}</h1>
        <p>{{item.date}}</p>
        </ion-label>
      </ion-item>
</ion-list>

    </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
   <ion-list>
        <ion-item>
          <ion-textarea placeholder="ข้อความ" [(ngModel)]="textinput" [(ngModel)]="newMsg"> </ion-textarea>
              <ion-icon name="paper-plane" color="primary" (click)="this.add()">
              <ion-button>
              </ion-button>
              </ion-icon>
        </ion-item>
   </ion-list>
</ion-footer>
