<ion-header>
  <ion-toolbar>
  <ion-title slot="end">{{this.getuser}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge >
    <ion-fab-button color="light">
      <img src={{getimg}}>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="this.editprofile()">
      <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="this.back()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card color="transparent">

  </ion-card >

  <ion-card color="transparent">
    <h4 align="center">Enter Chat Room</h4>
  <ion-item>
    <ion-label position="floating">Room Name</ion-label>
    <ion-input [(ngModel)]="enterroomname" [(ngModel)]="newMsg1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Room Key</ion-label><br>
    <ion-input [(ngModel)]="enterroomkey" type="password" [(ngModel)]="newMsg2"></ion-input>
  </ion-item>
  <ion-button color="success" expand="block" (click)="this.roome()" >Enter</ion-button><br>

</ion-card >



<ion-card color="transparent">
  <h4 align="center">Create Chat Room</h4>
  <ion-item>
    <ion-label position="floating">Room Name</ion-label>
    <ion-input [(ngModel)]="getroomname" [(ngModel)]="newMsg3"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Room Key</ion-label><br>
    <ion-input [(ngModel)]="getroomkey" type="password"[(ngModel)]="newMsg4"></ion-input>
  </ion-item>

  <ion-button color="warning" expand="block"  (click)="this.roomc()" >Create</ion-button>
  </ion-card >
</ion-content>
