<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" expand="clear" (click)="this.back()" >Exit</ion-button>
    </ion-buttons>
<ion-avatar slot="end">
      <img src="https://i.pinimg.com/originals/fe/a3/a3/fea3a3dd71cb2bc527da9ca1bb46dd44.jpg">

    </ion-avatar>
    <ion-title slot="end">User :{{this.getuser}}</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="transparent">

  </ion-card >

  <ion-card color="transparent">
    <h4 align="center">Enter Chat Room</h4>
  <ion-item>
    <ion-label position="floating">Room Name</ion-label>
    <ion-input [(ngModel)]="enterroomname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Room Key</ion-label><br>
    <ion-input [(ngModel)]="enterroomkey"></ion-input>
  </ion-item>
  <ion-button color="success" expand="block" (click)="this.roome()" >Enter</ion-button><br>

</ion-card >



<ion-card color="transparent">
  <h4 align="center">Create Chat Room</h4>
  <ion-item>
    <ion-label position="floating">Room Name</ion-label>
    <ion-input [(ngModel)]="getroomname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Room Key</ion-label><br>
    <ion-input [(ngModel)]="getroomkey"></ion-input>
  </ion-item>

  <ion-button color="warning" expand="block"  (click)="this.roomc()" >Create</ion-button>
  </ion-card >
</ion-content>
